*{
    margin: 0;
    padding: 0;
}
.header{
    background-image: url(hacker2.jpg);
    height: 100vh;
    background-size: 100% 100%;
}
.container .navbar{
    width: 100%;
    height: 50px;
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar .logo{
    margin-left: 70px;
    color: white;
}
.navbar .logo h2{
    font-size: 50px;
    color: white;
}
.navbar ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
}
.navbar ul li a{
    color:white;
    text-decoration: none;
    margin-top: 30px;
    margin-right: 150px;
}
.container .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}
.container .center h2{
    transform: translateX(+25%);
}


.hakkımda{
    margin-top: 40px;
    padding: 10px 0;
}
.hakkımda .title h2{
    width: 100px;
    margin-top: 60px;
    margin: 0 auto;
    display: flex;
    transform: translateX(+200%);
}
.title-2 ul{
    float: right;
    margin-right: 20px;
}
.title-2 ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
}
.title-2 ul li a{
    text-decoration: none;
    margin-top: 30px;
    margin-right: 150px;
}
.hakkımda .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
}
.content .img {
    width: 80%;
    display: flex;
    align-items: center;
    flex-basis: 33px;
    margin-bottom: 100px;
    flex-direction: column;
    display: inline-block;
    margin-top: 30px;
}
.content .img img{
    width: 36%;
    height: 54%;
    object-fit: cover;
    float: left;

}
.content .img p{
    align-items: center;
    transform: translateX(+10%);
    margin-top: 50px;
}


.iletişim{
    padding: 10px 0;
    margin-top: 40px;
}
.iletişim h2{
    width: 100px;
    margin-top: 60px;
    margin: 0 auto;
}
.title-2 ul{
    float: right;
    margin-right: 20px;
}
.title-2 ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
}
.title-2 ul li a{
    color:black;
    text-decoration: none;
    margin-top: 30px;
    margin-right: 150px;
}
.iletişim .yollar-1{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}
.iletişim .yollar{
    display: flex;
    align-items: center;
    flex-basis: 33px;
    margin-bottom: 100px;
    flex-direction: column;
    transform: translateX(+30%);
}
.iletişim .yollar img{
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
}